@model List<Reservation>;

<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <th>Pickup Date and Time</th>
        <th>Reserved Car</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.PickupDateTime.ToShortDateString() @reservation.PickupDateTime.ToShortTimeString()</td>
                <td>@reservation.Car.Brand.Name @reservation.Car.Model</td>
                <td>@reservation.Store.Address</td>
                <td>@reservation.Store.City.Name</td>
                <td>@reservation.Store.City.Country.Name</td>
                <td>
					<button type="button" class="btn btn-primary">
                        <a asp-action="Edit" asp-route-id="@reservation.ID" class="nav-link text-light">Edit</a>
                    </button>
				</td>
				<td>
					<button type="button" class="btn btn-danger" onclick="deleteReservation(@reservation.ID)">
                        <a class="nav-link text-light">Delete</a>
                    </button>
				</td>
            </tr>
        }
    </tbody>
</table>